body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: wheat;
}

.portfolio {
    max-width: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(190, 23, 23, 0.829);
}

h2 {
    margin-top: 0;
    font-size: 26px;
    border-bottom: 2px wheat;
    padding-bottom: 10px;
}

.project {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
}

.project img {
    max-width: 280px;
    margin-right: 40px;
}

h3 {
    font-size: 25px;
    margin-top: 0;
}

p {
    margin-top: 15px;
}
.economy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.project{
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
